<style>
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: grey;
    height: 70px;
}
.content{
    background-color: black;
    color: white;
    height: 85vh;
}
footer{
    background-color: rgba(109, 198, 222, 0.813);
}
</style>